<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bog og Spil butik</title>
</head>
<body>
    <h1>Spil og bog butikken's varelager</h1>
    <table>
        <thead>
            <tr>
                <th>Navn</th>
                <th>Genre</th>
                <th>Pris</th>
            </tr>
        </thead>
        <tbody>
            <!-- iterer over products og lave en række for hvert product -->
            <tr th:each="vare : ${varer}">
                <td th:text="${vare.name}">
                    Angry Birds
                </td>
                <td th:text="${vare.genre}">
                    Mobil spil
                </td>
                <td th:text="${vare.price}">
                    0
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>