<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret Spil</title>
</head>
<body>

    <h1>Opret nyt spil</h1>

    <form action="/create" method="post">
        <label for="name-field">Navn</label>
        <input id="name-field" name="name" type="text">

        <label for="genre-field">Genre</label>
        <input id="genre-field" name="genre" type="text">

        <label for="price-field">Price</label>
        <input id="price-field" name="price" type="number">

        <input type="submit" value="Opret spil">

    </form>
</body>
</html>